/backup_Riverdi_70STM32H7.ioc
/Riverdi_70STM32H7_CM7.launch
/CM7/TouchGFX/build/
/CM7/TouchGFX/generated/
/STM32CubeIDE/.settings/
/STM32CubeIDE/CM4/.settings/
/STM32CubeIDE/CM7/.settings/
/STM32CubeIDE/CM7/Debug/
/STM32CubeIDE/CM7/Release/
/STM32CubeIDE/CM7/Riverdi_70STM32H7_CM7.launch
